{% extends 'posts/base.html' %}
    

{% block content %}
    

    <div>
        <h1>{{post}}</h1>
        <h3>{{post.author}}</h3>
        <h4>{{post.category}}</h4>
        <p>{{post.content|safe}}</p>
        <img src="{{post.image.url}}">
    </div>
    <hr>
    <div>
        <h4>Comments({{comments|length}})</h4>
        <ul>
            
            {% for comment in comments %}
            <li>{{comment.user}}<br>
                <div class="m-3">
                    {{comment.content}}<br>
                    {{comment.created_at}}
                </div>
            </li>
            {% empty %}
             <li>
                There are no comment on this post
             </li>
            {% endfor %}
               
            <h4>Add Comment</h4>
            <form action="" method='post'>
                {% csrf_token %}
                {{form.as_p}}
                <input type='submit' value='Add Comment'>
            </form>
            
        </ul>
    </div>


    

{% endblock content %}